
/* Fixed width for the progress bar container */
.progress-bar-container {
<<<<<<< HEAD
  width: 210px; 
=======
  width: 200px; 
>>>>>>> 0eae96863fe372f2dd3acc83267757863967813b
  margin: 0 auto; 
  padding: 10px;
  position: relative;
}

/* Background of the progress bar */
.progress-bar-background {
  width: 100%;
  height: 10px; 
  background-color: #f0f0f0; 
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

/* The moving progress bar */
.progress-bar {
  height: 100%;
  background-color: #8a2be2; 
  border-radius: 5px;
}

/* Dotted progress indicator */
.progress-dots {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.progress-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s;
}

.dot-active {
  background-color: #8a2be2; 
}
