
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(135deg, #f7f7ff, #e4e9ff);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 11% auto;
}

.user-details-form h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.user-details-form input {
  width: 100%;
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.user-details-form input:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 8px rgba(108, 99, 255, 0.5);
}

.error-message {
  color: #ff6b6b;
  font-size: 14px;
  margin-top: 5px;
  position: absolute;
  left: 10px;
  top: 45px;
}


.motion-button {
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(135deg, #6c63ff, #a583ff);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.motion-button:hover {
  background: linear-gradient(135deg, #a583ff, #6c63ff);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.motion-button:disabled {
  background: #ddd;
  cursor: not-allowed;
  box-shadow: none;
}
